body {
 margin: 0 auto;
 font-family: 'Lucida Sans', sans-serif;
}

/* HERO SECTION */
header {
 /* border: 2px solid red; */
 background-color: #432818;
 color: #FFE6A7;
 padding-bottom: 40px;
}

/* NAVIGATION */
.nav {
 /* border: 2px solid purple; */
 display: flex;
 justify-content: space-around;
 align-items: center;
}

ul {
 display: flex;
 justify-content: flex-end;
}

li {
 list-style-type: none;
 text-decoration: none;
 margin: 0 8px;
 font-size: 18px;
}

.logo {
 font-size: 24px;
}

/* HERO CONTENT */
.hero-content {
 /* border: 2px solid blue; */
 margin: 80px 30px;
 display: flex;
 justify-content: center;
 gap: 26px;
}

.hero-content-text {
 /* border: 2px solid green; */
 width: 30%;
}

.hero-content-text h1 {
 font-size: 48px;
}

.hero-img {
 height: 300px;
 border-radius: 15px;
}

.hero-btn {
 width: 90px;
 padding: 5px;
 border: none;
 border-radius: 5px;
 background-color: #6F1D1B;
 color: #FFE6A7;
}

/* END HERO SECTION */

/* MAIN: INFO SECTION */

.info{
 /* border: 2px solid orange; */
 background-color: #BB9457;
 padding-top: 20px;
 height: 500px;
 color: #432818;
}

.info h2 {
 text-align: center;
 font-size: 36px;
}

.info-container {
 /* border: 2px solid blue; */
 width: 800px;
 margin: auto;
 /* padding: 20px; */
 display: flex;
 justify-content: center;
 align-items: center;
}

.info-item {
 /* border: 2px dotted rebeccapurple; */
 width: 200px;
 text-align: center;
 display: block;
}

.info-item img {
 height: 150px;
 width: 170px;
 border: 4px solid #6F1D1B;
 border-radius: 15px;
}

.info-item p {
 font-weight: bold;
}

/* MAIN: QUOTE SECTION */
.quote {
 /* border: 2px solid yellow; */
 background-color: #f2e8cf;
 height: 400px;
 text-align: center;
 padding-top: 100px;
}

.quote p {
 font-size: 36px;
 color: #432818;
}


/* MAIN: ACTION SECTION */
.action {
 /* border: 2px solid green; */
 background-color: #BB9457;
 height: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.action-content {
 background-color: #6F1D1B;
 border-radius: 10px;
 width: 800px;
 margin: auto;
 padding: 20px 0;
 display: flex;
 justify-content: center;
 align-items: center;
}

footer {
 border: 2px solid blue;
}