body {
 margin: 0 auto;
 font-family: 'Lucida Sans', sans-serif;
}

/* HERO SECTION */
header {
 background-color: #432818;
 color: #FFE6A7;
 padding-bottom: 40px;
}

/* NAVIGATION */
.nav {
 display: flex;
 justify-content: space-around;
 align-items: center;
}

ul {
 display: flex;
 justify-content: flex-end;
}

li {
 list-style-type: none;
 margin: 0 8px;
 font-size: 20px;
 font-weight: bold;
}

li a {
 text-decoration: none;
 color: #BB9457;
}

li a:hover {
 font-size: 18px;
}

.logo {
 font-size: 24px;
 font-weight: bold;
}

/* HERO CONTENT */
.hero-content {
 margin: 80px 30px;
 display: flex;
 justify-content: center;
 gap: 26px;
}

.hero-content-text {
 width: 30%;
}

.hero-content-text h1 {
 font-size: 48px;
}

.hero-img {
 height: 300px;
 border-radius: 15px;
}

.hero-btn {
 width: 95px;
 padding: 8px;
 border: none;
 border-radius: 5px;
 background-color: #6F1D1B;
 color: #FFE6A7;
 font-size: 14px;
 font-weight: bold;
}

.hero-btn:hover {
 cursor: pointer;
 background-color: #BB9457;
 color: #6F1D1B;
}

/* END HERO SECTION */


/* MAIN: INFO SECTION */
.info{
 background-color: #BB9457;
 padding-top: 20px;
 height: 500px;
 color: #432818;
}

.info h2 {
 text-align: center;
 font-size: 36px;
}

.info-container {
 width: 800px;
 margin: auto;
 display: flex;
 justify-content: center;
 align-items: center;
}

.info-item {
 width: 200px;
 text-align: center;
 display: block;
}

.info-item img {
 height: 150px;
 width: 170px;
 border: 4px solid #6F1D1B;
 border-radius: 15px;
}

.info-item img:hover {
 cursor: pointer;
 height: 140px;
 width: 160px;
}

.info-item p {
 font-weight: bold;
}

/* MAIN: QUOTE SECTION */
.quote {
 background-color: #f2e8cf;
 height: 400px;
 text-align: center;
 padding-top: 100px;
}

.quote p {
 font-size: 36px;
 color: #432818;
}


/* MAIN: ACTION SECTION */
.action {
 background-color: #BB9457;
 height: 300px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.action-content {
 background-color: #6F1D1B;
 border-radius: 10px;
 width: 800px;
 margin: auto;
 padding: 20px ;
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.action-text {
 color: #BB9457;
}

.action-btn {
 width: 100px;
 padding: 8px;
 border: 2px solid #BB9457;
 border-radius: 5px;
 background-color: transparent;
 color: #FFE6A7;
 font-size: 14px;
 font-weight: bold;
}

.action-btn:hover {
 cursor: pointer;
 background-color: #BB9457;
 color: #6F1D1B;
}


/* FOOTER */
footer {
 background-color: #432818;
 color: #BB9457;
 margin: auto;
 padding: 13px;
 text-align: center;
}